---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Home Page">
  <p class="font-bold text-9xl">Welcome to the home page!</p>
  <p class="font-bold text-9xl">Welcome to the home page!</p>
  <p class="font-bold text-9xl">Welcome to the home page!</p>
  <p class="font-bold text-9xl">Welcome to the home page!</p>
  <p class="font-bold text-9xl">Welcome to the home page!</p>
  <p class="font-bold text-9xl">Welcome to the home page!</p>
</BaseLayout>
